<!DOCTYPE html>

<html>
<head>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>통합 Admin 관리 페이지</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <meta property="og:title" content="통합 Admin 관리페이지">
    <meta property="og:type" content="website">
    <meta property="og:description" content="통합 Admin 관리페이지">
    <!-- google 로그인-->
    <meta name="google-signin-client_id"
          content="{{googleClientId}}">
    <!-- font -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/resources/web/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="/resources/web/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/resources/web/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="/resources/web/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/resources/web/plugins/adminLTE/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/resources/web/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/resources/web/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="/resources/web/plugins/summernote/summernote-bs4.min.css">
    <!-- custom css -->
    <link rel="stylesheet" href="/resources/web/css/layout/admin-custom.css">

    <link rel="stylesheet" href="/resources/web/plugins/animate.css/animate.min.css">

    <link rel="stylesheet" href="/resources/web/plugins/sweetalert2/sweetalert2.css">

    {{#_csrf}}
    <input type="hidden" id="_csrf" data-token-name="{{_csrf.parameterName}}" data-token-header="{{_csrf.headerName}}" name="{{_csrf.parameterName}}" value="{{_csrf.token}}" />
    {{/_csrf}}
</head>
</html>

