<!DOCTYPE html>

<html>
<head>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>디버그앱 저장소</title>
    <link rel="shortcut icon" type="image/x-icon" href="/resources/web/front/img/favicon.ico">
    <meta property="og:title" content="디버그앱 저장소">
    <meta property="og:type" content="website">
    <meta property="og:description" content="디버그앱 저장소">
    <!-- google 로그인-->
    <meta name="google-signin-client_id"
          content="663340949978-at6obcpd536e4r2m2i3qllqbn9n2ueri.apps.googleusercontent.com">
    <!-- font -->
    <link rel="stylesheet" href="//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- 공통으로 쓰이는 css파일을넣는다.-->
    <link rel="stylesheet" href="/resources/web/common/css/bootstrap.css">
    <link rel="stylesheet" href="/resources/web/common/css/layout.css">
    <link rel="stylesheet" href="/resources/web/common/css/pc-common.css">
    <link rel="stylesheet" href="/resources/web/common/css/sweetalert2.css">
</head>
</html>