
<!DOCTYPE html>
<html lang="ko">
{{>layout/head}}
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Navbar -->
    {{>layout/navigator}}
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Sidebar -->
        {{>layout/lnb}}
        <!-- /.sidebar -->
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        {{>layout/gnb}}

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Short URL 생성하기</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form id="form" name="form">
                                {{#dto}}
                                    <input type="hidden" id="shortUrlId" name="shortUrlId" value="{{dto.shortUrlId}}"/>
                                {{/dto}}
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>원본 URL</label>
                                        <input class="form-control" id="url" name="url" placeholder="https://..."/>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <label>생성된 URL</label>
                                    <div class="input-group mb-3">
                                        <input type="text" id="shortUrl" class="form-control" placeholder="생성된 URL" aria-label="생성된 URL" aria-describedby="basic-addon2" readonly>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" id="copyBtn" type="button">복사하기</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <label>데이터 추적기능</label>
                                    <div class="row g-2">
                                        <div class="col-md">
                                            <div class="form-floating">
                                                <select class="form-select" name="platform" id="platform">
                                                    <option value="UNKNOWN" selected>미선택시 UNKNOWN</option>
                                                    <option value="IG">instargram</option>
                                                    <option value="FB">facebook</option>
                                                    <option value="NC">naver_cafe</option>
                                                    <option value="NB">naver_blog</option>
                                                    <option value="YT">youtube</option>
                                                    <option value="KA">kakao</option>
                                                </select>
                                                <label for="platform">게시될 페이지 구분</label>
                                            </div>
                                        </div>

                                        <!--                 <div class="col-md">
                                                             <button type="button" class="btn btn-primary">라벨편집</button>
                                                         </div>-->
                                    </div>
                                    <div style="padding-left: 1.3rem">
                                        <div class="form-switch form-check">
                                            <input class="form-check-input" type="checkbox" id="defaultCheckBox" checked disabled>
                                            <label class="form-check-label" for="defaultCheckBox">단말기정보, IP 기본수집 </label>
                                        </div>
                                        <div class="form-switch form-check">
                                            <input class="form-check-input" type="checkbox" name="paidYn" id="paidYn" value="Y">
                                            <label class="form-check-label" for="paidYn">(선택)페이드 마케팅 여부 </label>
                                        </div>
                                    </div>
                                </div>

                                <!--
                                &lt;!&ndash; /.card-body &ndash;&gt;
                                <div id="myModal" class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="ion ion-clipboard mr-1"></i>
                                            링크추적 라벨 편집
                                        </h3>
                                    </div>
                                    &lt;!&ndash; /.card-header &ndash;&gt;
                                    <div class="card-body">
                                        <ul class="todo-list" data-widget="todo-list">
                                            <li>
                                                &lt;!&ndash; drag handle &ndash;&gt;
                                                <span class="handle">
                                                  <i class="fas fa-ellipsis-v"></i>
                                                  <i class="fas fa-ellipsis-v"></i>
                                                </span>
                                                &lt;!&ndash; todo text &ndash;&gt;
                                                <span class="text">인스타..등</span>
                                                &lt;!&ndash; Emphasis label &ndash;&gt;
                                                <div  class="icheck-primary d-inline ml-2">
                                                    <input type="checkbox" value="1" name="todo1" id="todoCheck1">
                                                </div>
                                                <label for="todoCheck1">
                                                    <small class="badge badge-danger"><i class="far fa-clock"></i> 삭제</small>
                                                </label>
                                                &lt;!&ndash; General tools such as edit or delete&ndash;&gt;
                                            </li>
                                            <li>
                                                &lt;!&ndash; drag handle &ndash;&gt;
                                                <span class="handle">
                                                  <i class="fas fa-ellipsis-v"></i>
                                                  <i class="fas fa-ellipsis-v"></i>
                                                </span>
                                                &lt;!&ndash; todo text &ndash;&gt;
                                                <span class="text">인스타..등</span>
                                                &lt;!&ndash; Emphasis label &ndash;&gt;
                                                <div  class="icheck-primary d-inline ml-2">
                                                    <input type="checkbox" value="1" name="todo1" id="todoCheck2">
                                                </div>
                                                <label for="todoCheck2">
                                                    <small class="badge badge-danger"><i class="far fa-clock"></i> 삭제</small>
                                                </label>
                                                &lt;!&ndash; General tools such as edit or delete&ndash;&gt;
                                            </li>
                                            <li>
                                                &lt;!&ndash; drag handle &ndash;&gt;
                                                <span class="handle">
                                                  <i class="fas fa-ellipsis-v"></i>
                                                  <i class="fas fa-ellipsis-v"></i>
                                                </span>
                                                &lt;!&ndash; todo text &ndash;&gt;
                                                <span class="text">인스타..등</span>
                                                &lt;!&ndash; Emphasis label &ndash;&gt;
                                                <div  class="icheck-primary d-inline ml-2">
                                                    <input type="checkbox" value="1" name="todo1" id="todoCheck3">
                                                </div>
                                                <label for="todoCheck3">
                                                    <small class="badge badge-danger"><i class="far fa-clock"></i> 삭제</small>
                                                </label>
                                                &lt;!&ndash; General tools such as edit or delete&ndash;&gt;
                                            </li>
                                        </ul>
                                    </div>
                                    &lt;!&ndash; /.card-body &ndash;&gt;
                                    <div class="card-footer clearfix">
                                        <button type="button" class="btn btn-info float-right"><i class="fas fa-plus"></i> Add item</button>
                                    </div>
                                </div>
                                </div>
-->
                                <div class="card-footer">
                                    <button type="button" id="submit" class="btn btn-primary">생성하기</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.card -->
                    </div>
                    <!--/.col (left) -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {{>layout/footer}}

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- 공통 스크립트 선언 s -->
{{>layout/script}}

<script src="/resources/web/js/shortUrl/form.js"></script>

</body>
</html>