@charset "utf-8";
blockquote, body, button, caption, dd, div, dl, dt, fieldset, form, frame, h1, h2, h3, h4, h5, h6, hr, html, iframe, input, legend, li, object, ol, p, pre, q, select, table, td, textarea, tr, ul {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Square', 'Nanum Gothic',  Malgun Gothic, Open Sans, Dotum, arial, sans-serif
}


html {
    overflow-y: scroll
}

body {
    background-color: #fff
}

address, em {
    font-style: normal
}

a, a:active, a:hover, a:link, a:visited {
    color: inherit;
    text-decoration: none
}

ol, ul {
    list-style: none
}

a, fieldset, img, table {
    border: 0
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse
}

caption, legend {
    font-size: 0;
    line-height: 0;
    height: 0;
    visibility: hidden
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

button {
    border: 0;
    background: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    text-transform: inherit
}

textarea {
    resize: none
}



p{   
    color: #5c5c5c;
    font-size: 16px;
    line-height: 23px;
    word-wrap: break-word;
    word-break: keep-all;
}

input[type=radio].css-checkbox2 {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=radio].css-checkbox2+label.css-label2 {
    padding-left: 26px;
    height: 17px;
    display: inline-block;
    line-height: 17px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 15px;
    color: #595959;
    vertical-align: middle;
    cursor: pointer;
}

label.css-label2 {
    background-image: url(../../../img/common/ico_check_box3.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.section h2 {
    font-size: 35px;
    font-weight: 400;
    line-height: 1
}

.section .info {
    margin-top: 20px;
    font-size: 20px;
    color: #959595;
    line-height: 1
}

.section .tab {
    margin-top: 30px
}




.pt0 {
    padding-top: 0 !important
}

.pt3 {
    padding-top: 3px !important
}

.pt4 {
    padding-top: 4px !important
}

.pt5 {
    padding-top: 5px !important
}

.pt7 {
    padding-top: 7px !important
}

.pt8 {
    padding-top: 8px !important
}

.pt9 {
    padding-top: 9px !important
}

.pt10 {
    padding-top: 10px !important
}

.pt15 {
    padding-top: 15px !important
}

.pt20 {
    padding-top: 20px !important
}

.pt25 {
    padding-top: 25px !important
}

.pt30 {
    padding-top: 30px !important
}

.pt40 {
    padding-top: 40px !important
}

.pt45 {
    padding-top: 45px !important
}

.pt50 {
    padding-top: 50px !important
}

.pt70 {
    padding-top: 70px !important
}

.pt90 {
    padding-top: 90px !important
}

.pr0 {
    padding-right: 0 !important
}

.pr13 {
    padding-right: 13px !important
}

.pr20 {
    padding-right: 20px !important
}

.pr70 {
    padding-right: 70px !important
}

.pb2 {
    padding-bottom: 2px !important
}

.pb5 {
    padding-bottom: 5px !important
}

.pb10 {
    padding-bottom: 10px !important
}

.pb15 {
    padding-bottom: 15px !important
}

.pb20 {
    padding-bottom: 20px !important
}

.pb36 {
    padding-bottom: 35px !important
}

.pb50 {
    padding-bottom: 50px !important
}

.pl0 {
    padding-left: 0 !important
}

.pl1 {
    padding-left: 1px !important
}

.pl2 {
    padding-left: 2px !important
}

.pl5 {
    padding-left: 5px !important
}

.pl6 {
    padding-left: 6px !important
}

.pl9 {
    padding-left: 9px !important
}

.pl10 {
    padding-left: 10px !important
}

.pl15 {
    padding-left: 15px !important
}

.pl20 {
    padding-left: 20px !important
}

.pl25 {
    padding-left: 25px !important
}

.pl30 {
    padding-left: 30px !important
}

.mt0 {
    margin-top: 0 !important
}

.mt2 {
    margin-top: 2px !important
}

.mt3 {
    margin-top: 3px !important
}

.mt5 {
    margin-top: 5px !important
}

.mt7 {
    margin-top: 7px !important
}

.mt10 {
    margin-top: 10px !important
}

.mt15 {
    margin-top: 15px !important
}

.mt20 {
    margin-top: 20px !important
}

.mt25 {
    margin-top: 25px !important
}

.mt30 {
    margin-top: 30px !important
}

.mt35 {
    margin-top: 35px !important
}

.mt40 {
    margin-top: 40px !important
}

.mt45 {
    margin-top: 45px !important
}

.mt50 {
    margin-top: 50px !important
}

.mt60 {
    margin-top: 60px !important
}

.mt70 {
    margin-top: 70px !important
}

.mt90 {
    margin-top: 90px !important
}

.mt100 {
    margin-top: 100px !important
}

.mr0 {
    margin-right: 0 !important
}

.mr5 {
    margin-right: 5px !important
}

.mr10 {
    margin-right: 10px !important
}

.mr15 {
    margin-right: 15px !important
}

.mr20 {
    margin-right: 20px !important
}

.mr25 {
    margin-right: 25px !important
}

.mr30 {
    margin-right: 30px !important
}

.mr40 {
    margin-right: 40px !important
}

.mr50 {
    margin-right: 50px !important
}

.mr60 {
    margin-right: 60px !important
}

.mr75 {
    margin-right: 75px !important
}

.mr80 {
    margin-right: 80px !important
}

.mr100 {
    margin-right: 100px !important
}

.mr110 {
    margin-right: 110px !important
}

.mb0 {
    margin-bottom: 0 !important
}

.mb5 {
    margin-bottom: 5px !important
}

.mb7 {
    margin-bottom: 7px !important
}

.mb10 {
    margin-bottom: 10px !important
}

.mb15 {
    margin-bottom: 15px !important
}

.mb20 {
    margin-bottom: 20px !important
}

.mb25 {
    margin-bottom: 25px !important
}

.mb30 {
    margin-bottom: 30px !important
}

.mb35 {
    margin-bottom: 35px !important
}

.mb40 {
    margin-bottom: 40px !important
}

.mb45 {
    margin-bottom: 45px !important
}

.mb50 {
    margin-bottom: 50px !important
}

.mb55 {
    margin-bottom: 55px !important
}

.mb70 {
    margin-bottom: 70px !important
}

.ml0 {
    margin-left: 0 !important
}

.ml1 {
    margin-left: 1px !important
}

.ml2 {
    margin-left: 2px !important
}

.ml3 {
    margin-left: 3px !important
}

.ml5 {
    margin-left: 5px !important
}

.ml6 {
    margin-left: 6px !important
}

.ml8 {
    margin-left: 8px !important
}

.ml9 {
    margin-left: 9px !important
}

.ml10 {
    margin-left: 10px !important
}

.ml15 {
    margin-left: 15px !important
}

.ml20 {
    margin-left: 20px !important
}

.ml25 {
    margin-left: 25px !important
}

.ml30 {
    margin-left: 30px !important
}

.ml35 {
    margin-left: 35px !important
}

.ml40 {
    margin-left: 40px !important
}

.ml45 {
    margin-left: 45px !important
}

.ml50 {
    margin-left: 50px !important
}

.ml55 {
    margin-left: 55px !important
}

.ml60 {
    margin-left: 60px !important
}

.ml75 {
    margin-left: 75px !important
}

.ml80 {
    margin-left: 80px !important
}

.ml90 {
    margin-left: 90px !important
}

.ml100 {
    margin-left: 100px !important
}

.ml110 {
    margin-left: 110px !important
}

.ml170 {
    margin-left: 170px !important
}

.ml180 {
    margin-left: 180px !important
}

.ml190 {
    margin-left: 190px !important
}

.ml230 {
    margin-left: 230px !important
}

.ml240 {
    margin-left: 240px !important
}

.fl {
    float: left !important
}

.fr {
    float: right !important
}

.zero {
    font-size: 0 !important;
    line-height: 0 !important
}

.right {
    text-align: right !important
}

.center {
    text-align: center !important
}

.left {
    text-align: left !important
}

.c_l {
    clear: left !important
}

.clear {
    clear: both
}

.clear:after {
    display: block;
    content: "";
    clear: both
}

.middle {
    vertical-align: middle
}

.clipping {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.letter {
    letter-spacing: -1px
}

.bold {
    font-weight: 700
}

.normal {
    font-weight: 400
}

.font_transparent {
    color: transparent;
    font-size: 10px
}

.white {
    color: #fff
}

.black {
    color: #000
}

.overflow {
    overflow: hidden
}

.br_non {
    border-right: 0 !important
}

.bl_non {
    border-left: 0 !important
}

.bt_non {
    border-top: 0 !important
}

.bb_non {
    border-bottom: 0 !important
}

.uppercase {
    text-transform: uppercase
}

.lowercase {
    text-transform: lowercase
}

.capitalize {
    text-transform: capitalize
}

.bg_non {
    background: none !important
}

.bg_non_img {
    background-image: none !important
}

.relative {
    position: relative
}

.static {
    position: static
}

.none {
    display: none
}

.block {
    display: block
}

.hide {
    overflow: hidden;
    height: 1px;
    width: 1px;
    margin: 0 -1px -1px 0;
    font-size: 0;
    line-height: 0
}

.float_none {
    float: none !important
}



.clear {
    clear: both;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

.no_mar {
    margin: 0;
}





/**************************************************************************************
table style - 테이블스타일
***************************************************************************************/


table caption{position:relative;left:-999px;top:auto;width:1px;line-height:0;text-indent:-9999px}
.tbl_basic{margin-bottom:30px;width:100%;border-top:2px solid transparent;border-bottom:1px solid transparent;font-size: 16px}
.tbl_basic{border-collapse: separate;}
.tbl_basic th,
.tbl_basic td{padding:10px 15px;border-left:1px solid transparent;border-bottom:1px solid transparent;margin-left:-1px;vertical-align:middle;word-wrap:break-word;word-break:keep-all;}
.tbl_basic th:last-child,
.tbl_basic td:last-child{border-right:1px solid #d2d2d2}
.tbl_basic th.trw,
.tbl_basic td.trw{border-right:1px solid #d2d2d2;}
.tbl_basic tbody th,
.tbl_basic thead th{vertical-align:middle;}
.tbl_basic thead th,
.tbl_basic tfoot th,
.tbl_basic tfoot td{background-image:none;background: #f2f6f9;}
.tbl_basic tbody th{color:#333;}
.tbl_basic thead th{color:#333;background:#fafafa;}

.tbl_basic{border-top-color:#121212;}
.tbl_basic th,
.tbl_basic td{border-left-color:#d2d2d2;border-bottom-color:#d2d2d2;}
.tbl_basic tbody th{background-color:#f6f3f3;}

.tbl_basic.tbl_type1{border-top-color:#000;border-bottom-color:#ddd;}
.tbl_basic.tbl_type1 th,
.tbl_basic.tbl_type1 td{border-left-color:#ddd;border-bottom-color:#ddd;}
.tbl_basic.tbl_type1 thead th{background-color:#fff;border-bottom-color:#d2d2d2;}
.tbl_basic.tbl_type1 tfoot th{background-color:#fafafa;}

.tbl_basic.tbl_type2{border-top-color:#df3127;border-bottom-color:#d2d2d2;}
.tbl_basic.tbl_type2 th,
.tbl_basic.tbl_type2 td{border-left-color:#ddd;border-bottom-color:#ddd;}
.tbl_basic.tbl_type2 tbody th{color:#df3127}
.tbl_basic.tbl_type2 tfoot th{background-color:#f1f1f1;}
.tbl_txt{color: #10349e;}