{{>layout/front/web/head}}

<form action="/logout" method="POST">
  {{#_csrf}}
  <input type="hidden" id="_csrf" data-token-name="{{_csrf.parameterName}}" name="{{_csrf.parameterName}}" value="{{_csrf.token}}" />
  {{/_csrf}}
  <button type="submit">LOGOUT</button>
</form>


  <div class="container">
    <h1>index</h1>
  </div>
<button id="googleLogin">Google</button>
{{>layout/front/web/script}}

<script>
  $("#googleLogin").click(function() {
    location.href="/oauth2/authorization/google";
  })

</script>



