<!DOCTYPE html>
<html lang="ko">
{{>layout/head}}
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
      <a href="/"><b>월급쟁이부자들</b>Works</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">이메일과 암호를 임력하세요</p>

      <form action="/login" method="post">
        <div class="input-group mb-3">
          <input type="email" id="email" name="email" class="form-control" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" id="password" name="password" class="form-control" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="button" id="login-button" class="btn btn-primary btn-block">로그인</button>
            <button type="button" id="register-button" class="btn btn-secondary btn-block">등록하기</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <div class="social-auth-links text-center mb-3">

      </div>
    <!-- /.login-card-body -->
    </div>
<!-- /.login-box -->
   </div>
</div>
{{>layout/script}}
</body>
</html>
