<!DOCTYPE html>
<html lang="ko">
{{>layout/head}}
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="javascript:void(0);">로그인</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">이메일과 암호를 임력하세요</p>

      <form action="/login" method="post">
        <div class="input-group mb-3">
          <input type="email" id="email" name="email" class="form-control" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" id="password" name="password" class="form-control" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
<!--          <div class="col-8">-->
<!--            <div class="icheck-primary">-->
<!--              <input type="checkbox" id="remember">-->
<!--              <label for="remember">-->
<!--                Remember Me-->
<!--              </label>-->
<!--            </div>-->
<!--          </div>-->
          <!-- /.col -->
          <div class="col-12">
            <button type="button" id="login-button" class="btn btn-primary btn-block">로그인</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <div class="social-auth-links text-center mb-3">
<!--        <p>- 소셜로그인 -</p> -->
<!--        <a href="#" class="btn btn-block btn-primary">-->
<!--          <i class="fab fa-facebook mr-2"></i> Sign in using Facebook-->
<!--        </a>-->
      <!--
        <a href="/oauth2/authorization/google" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i> 구글로그인
        </a>
      </div>
      -->
      <!-- /.social-auth-links -->

<!--      <p class="mb-1">-->
<!--        <a href="forgot-password.html">I forgot my password</a>-->
<!--      </p>-->
<!--      <p class="mb-0">-->
<!--        <a href="register.html" class="text-center">Register a new membership</a>-->
<!--      </p>-->
      </div>
    <!-- /.login-card-body -->
    </div>
<!-- /.login-box -->
   </div>
</div>
{{>layout/script}}
</body>
</html>
