<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jungjoongi.debugapp.web.front.main.mapper.MainMapper">

    <select id="selectAppList" resultType="com.jungjoongi.debugapp.web.front.main.domain.MainVO">
        select
             parent.os os
            , parent.version version
            , max(case when parent.env = 'dev' then parent.file_name ELSE '' end) 'dev_path'
            , max(case when parent.env = 'preprd' then parent.file_name  ELSE '' end) 'preprd_path'
            , max(case when parent.env = 'prd' then parent.file_name  ELSE '' end) 'prd_path'
        from (
            select
                RANK() OVER (PARTITION by version, os, env ORDER BY mdfy_date desc) as rm
                , os
                , version
                , file_name
                , env
            from app_mykt
        ) parent
        where parent.rm = 1
        group by version, os
        order by version desc, os desc
        limit 10;
    </select>

</mapper>